.aboutme{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    min-height: 90vh;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #ffffff;
    backdrop-filter: blur(15px);
}
.nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
.nav h2{
    width: 100%;
    text-align: center;
}
.home{
    font-size: 30px;
    color: #CBE4DE;
}
.home:hover{
    color: #294D61;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.leftContainer{
    width: 70%;
}
.introduction{
    padding: 20px 0;
    font-size: 1rem;
}

.buttonGrp{
    display: flex;
    
    align-items: center;
    gap: 20px;
}
.buttonGrp button{
    min-width: 150px; ;
}
.btn1{
    background-color: #072E33;
    color: #DDE6ED;
    letter-spacing: 1px;
    border: none;
    font-size: 0.8rem;
    padding: 10px;
}
.btn2{
    background-color: #294D61;
    color:#DDE6ED;
    letter-spacing: 1px;
    border: none;
    font-size: 0.8rem;
    padding: 10px;
}


.education{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}

.edHeading{
    margin: 0 auto;
}
.edContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.skills{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}
.skills h2{
    margin: 0 auto;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.skillsContainer img{
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.humanLang div, .machineLang div, .webTech div, .tools div, .libraries div{
    margin: 5px 0;
}
.certificates{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}

