.aboutme{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    min-height: 90vh;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #ffffff;
    backdrop-filter: blur(15px);
}
.nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
.nav h2{
    width: 100%;
    text-align: center;
}
.home{
    font-size: 30px;
    color: #CBE4DE;
}
.home:hover{
    color: #294D61;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.introDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 300px;

}
.introLeft{
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
    min-height: 300px;
}
.introRight{
    width: 30%;
    min-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}

.introRight img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
}

.education{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}
.edHeading{
    margin: 0 auto;
}
.school{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 24px;

}

.edDetails div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.edDetails div h5{
    min-width: 200px ;
}
.edImg{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.skills{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}
.certificates{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: -1px 2px 2px #616161;
}

