.card{
    flex: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
    
}
.imageHolder{
    overflow: hidden;
    border-radius: 10px;
}
.card img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.cardDescription{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 300px;
    height: 50px;
    background-color:#0E8388;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    
    position: relative;
}
.cardDescription div{
    color:#DDE6ED;
    z-index: 5;
    
}
.cardDescription::before{
    position: absolute;
    display: block;
    content: "";
    background-color: aquamarine;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    
    transform: scaleX(0);
    transition: transform 0.3s ease-out ;
    transform-origin: right;
    z-index: 2;
}
.card:hover{
    .cardDescription::before{
        transform: scaleX(1) ;
        transform-origin: left;
    }
    
}
.card:hover{
    .title{
        color: black;
    }
    .image{
        transition: 0.5s;
        transform: scale(1.3);
    }
}


@media (max-device-width: 640px){
    .card{
        flex: 1;
        flex-basis: 200px;
    }
    .card img{
        width: 150px;
        height: 100px;
    }
    .cardDescription{
        width: 150px;
        height: 40px;
        padding: 5px;
    }
    .title{
        font-size: 0.9rem;
    }

}

