.heroContainer{
    margin: 20px;
}

.designs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    min-height: 90vh;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #ffffff;
    backdrop-filter: blur(15px);
    margin-bottom: 20px;
}
.nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}
.home{
    font-size: 30px;
    color: #CBE4DE;
}
.home:hover{
    color: #294D61;
}
.nav h2{
    /* width: 100%; */
    text-align: center;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}




