.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.titleBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.extend{
    width: 20px;
    height: 20px;
    position: relative;
}

.heading{
    width: 60%;
    text-align: end;
}
.extendBtn{
    width: 40%;
    text-align: end;
}
.extendText{
    text-decoration: none;
    color: antiquewhite;
}
