.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    /* align-items: center; */
    margin: 16px;
    color: #DDE6ED;
   
}
.one h1{
    color:#CBE4DE;
    font-size: 1.8rem;
}
.typeHead{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}


.typingText {
    width: 26ch;
    animation: typing 4s steps(26) infinite alternate, blink .6s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: bold;
  }
.text{
    font-size: 1.4rem;
}
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

@media (min-device-width: 900px) and (max-device-width: 1024px){
  .text{
    font-size: 1.2rem;
  }
}

@media (min-device-width: 640px) and (max-device-width: 900px){
  .one h1{
    font-size: 1.6rem;
  }
  .typeHead{
    font-size: 1.2rem;
  }
  .typingText{
    font-size: 1.4rem;
  }
  .text{
    font-size: 1rem;
  }
}
  
@media (max-device-width: 640px){
  .one h1{
    font-size: 1.4rem;
  }
  .typeHead{
    font-size: 1rem;
  }
  .typingText{
    font-size: 1.2rem;
  }
  .text{
    font-size: 1rem;
  }
}