.two{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerOne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}
.photoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.photo{
    width: 120px;
    height: 130px;
    border-radius: 5px;
}
.containerTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #DDE6ED;
    font-size: 1rem;
    padding-bottom: 10px ;
}
.buttonGrp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttonGrp button{
    min-width: 150px; ;
}
.btn1{
    /* background-color: #2F58CD; */
    background-color: #072E33;
    color: #DDE6ED;
    letter-spacing: 1px;
    border: none;
    font-size: 0.8rem;
    padding: 10px;
}
.btn2{
    /* background-color: #0E8388; */
    background-color: #294D61;
    color:#DDE6ED;
    letter-spacing: 1px;
    border: none;
    font-size: 0.8rem;
    padding: 10px;
}



@media (min-device-width: 900px) and (max-device-width: 1024px){
  .containerOne{
    gap: 5px;
  }
  .buttonGrp button{
    min-width: 120px;
    font-size: 0.7rem;
    padding: 8px;
}
}
@media (min-device-width: 640px) and (max-device-width: 900px){
  .containerOne{
    flex-direction: column;
    gap: 5px;
  }
  .buttonGrp{
    gap: 5px;
}
  .buttonGrp button{
      min-width: 120px;
      font-size: 0.7rem;
      padding: 8px;
  }
  .containerTwo{
    font-size: 0.9rem;
  }
}  
  
@media (max-device-width: 640px){
  .one h1{
    font-size: 1.4rem;
  }
  .typeHead{
    font-size: 1rem;
  }
  .typingText{
    font-size: 1.2rem;
  }
  .text{
    font-size: 1rem;
  }
}
