:root{
  --text: #DDE6ED;
  --heading: #CBE4DE;
  --button-light:#294D61;
  --button-dark: #072E33;
}
html{
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #DDE6ED;

 
  animation: gradient 15s ease infinite;

  /* background: linear-gradient(-45deg, rgba(5,22,26,1) 5%, rgba(12,116,121,1) 27%, rgba(14,142,147,1) 42%, rgba(15,150,156,1) 48%, rgba(7,46,51,1) 79%, rgba(5,22,26,1) 96%); */
  
  background: linear-gradient(-45deg, rgba(5,22,26,1) 5%, rgba(12,116,121,1) 10%, rgba(14,142,147,1) 30%, rgba(15,150,156,1) 40%, rgba(7,46,51,1) 45%, rgba(5,22,26,1) 50% , #ee7752 65%, #e73c7e 80%, #23a6d5 87%, #23d5ab 100%);

  
  background-size: 300% 300%;
  
}
@keyframes gradient {
  0% {
		background-position: 0% 50%;

	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
h1,h2,h3,h3,h4,h5,h6{
  color:#CBE4DE;
}
